<%- include header %>
<form method="post">
添加一条评语:</br>
    <textarea name="comment" rows="20" cols="80"></textarea></br>

    <button type="submit" class="btn btn-primary">提交评语</button>
</form>

<%- include footer%>