<!--<%- include header%>-->
  <!--<%if(docs) {%>-->
<!--<a href="/personal">进入空间</a>-->
<!--<form enctype="multipart/form-data" method="post">-->
    <!--<input type="file" name="image">-->
    <!--<input type="submit" value="上传">-->
<!--</form>-->
<!--<%} else{%>-->
<!--<a href="/createPersonal">创建空间</a>-->
<!--<%}%>-->
<!--<%- include footer%>-->